.Header {
  z-index: 10 !important;
  position: sticky;
  top: 0;
}

.Header__themeToggle {
  margin-right: 4px !important;
}

.Header__themeToggle svg {
  color: var(--text-primary) !important;
  fill: var(--text-primary) !important;
}
