.Header {
  z-index: 10 !important;
  position: sticky;
  top: 0;
}

.Header .mui-app-bar-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100vw - 32px);
}
